<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>articleform</title>

    <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
      .container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }
      #articleform {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          padding: 20px;
          width: 400px;
          text-align: center;
      }
      textarea {
          height: 150px;
      }
      
      </style>
  </head>
  <body>

    <%- include("nav")  %>
    <div class='container'>
    <form id="articleform" action="/blog/create" method="POST">
      <input type="text" id="title" name="title" placeholder="title"/>
      <textarea id="content" name="content" rows="4" placeholder="content" ></textarea>
      <input type="url" id="image" name="image" placeholder="image"/>
      <input type="submit" value="Create Post" />
    </form>
  </div>
  </body>
</html>